.header-address-item:not(:last-child) {
	margin-bottom: 16px;
}

.address .link {
	text-decoration: none;
	color: $title-text-color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.header-address-item:last-child {
	margin-left: 30px;
}

.address {
	display: flex;
	margin-left: auto;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}
.address-text {
	color: $primary-text-color;
}
@media screen and (min-width: 768px) {
	.container {
		width: 768px;
	}
	.header-address-list {
		display: block;
		flex-wrap: nowrap;
	}
}
