.header-address-item:not(:last-child) {
	margin-bottom: 10px;
}

.address .link {
	display: block;
	text-decoration: none;
	color: $title-text-color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	font-weight: 500;
	letter-spacing: 0.02em;

	&:hover,
	&:focus {
		color: $accent-color;
	}
	.address-text {
		color: $primary-text-color;
	}
}
// .header-address-item:first-child {
// 	// margin-bottom: 16px;
// }

// .header-address-item {
// 	display: flex;
// 	justify-content: center;
// 	font-weight: 400;
// 	font-size: 14px;
// 	line-height: 1.71;

// flex-wrap: wrap;

// .header-address-item:last-child {
// 	margin-left: 30px;
// }

@media screen and (min-width: 768px) {
	.container {
		width: 768px;
	}
	.header-address-list {
		display: flex;
		flex-flow: column;
	}
	.address {
		display: flex;
		justify-content: flex-start;
	}
	.header-address-list {
		margin-left: auto;
	}
}
