.advantages {
	padding-bottom: 0;
}

// .advantages-list {
// 	// display: flex;
// 	// flex-wrap: wrap;
// }

.advantages-item {
	width: 100%;
	margin-bottom: 30px;
	// margin-right: 30px;
	// width: 270px;

	&:last-child {
		margin-right: 0;
	}
}

.advantages-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 120px;
	background: #f5f4fa;
	border-radius: 4px;
	margin-bottom: 30px;
}

.advantages-icon-svg {
	width: 70px;
	height: 70px;
}

.advantages-item-title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: $primary-text-color;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.advantages {
		padding: 60px 0;
	}
	.advantages-item-title {
		text-align: center;
	}

	.advantages-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.advantages-item {
		width: calc((100% - 30px) / 2);
	}
	.advantages-item:nth-child(3),
	.advantages-item:nth-child(4) {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1200px) {
	.advantages-item-title {
		text-align: center;
	}
	.advantages-item {
		width: calc((100% - 30px) / 4);
	}
	.advantages-item:not(:last-child) {
		margin-right: 30px;
	}

	.advantages-icon {
		width: 270px;
		height: 120px;
	}
	.advantages-list {
		flex-flow: row;
	}
	.advantages-item-title {
		text-align: start;
	}
}
