.clients-item-title {
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 28px;
	line-height: 1.17;
	text-align: center;
	color: $primary-text-color;
}

.clients-item-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
	.clients-item {
		width: calc((100% - 30px) / 2);
	}

	.clients-item:not(:nth-child(2n)) {
		margin-right: 30px;
	}
	.clients-item:not(:nth-last-child(-n + 2)) {
		margin-bottom: 30px;
	}
}
.clients-svg {
	fill: #afb1b8;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.clients-item a:hover &,
	.clients-item a:focus & {
		fill: $accent-color;
	}
}
.clients-item a {
	display: flex;
	justify-content: center;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 100%;
	height: 90px;
	&:hover {
		border-color: $accent-color;
	}
}

.clients-icon {
	display: block;
	justify-content: center;
	align-items: center;

	border: 1px solid #afb1b8;
	border-radius: 4px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	.clients-item-title {
		margin-bottom: 50px;
	}

	.clients-item {
		width: calc((100% - 90px) / 3);
	}
	.clients-item:not(:nth-last-child(-n + 3)) {
		margin-bottom: 30px;
	}
	.clients-item.clients-item:not(:nth-child(3n)) {
		margin-right: 30px;
	}
}
@media screen and (min-width: 1200px) {
	.clients-item {
		width: calc((100% - 150px) / 6);
	}
	.clients-item:not(:last-child) {
		margin-right: 30px;
	}
}
