.footer-socials-box {
  justify-content: center;
  align-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1.2;
  color: $white-color;
}
.box {
  background-color: $footer-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.box-list {
  margin-top: 20px;
  text-align: center;
}
.box-item:not(:last-child) {
  margin-bottom: 8px;
}
.box-item {
  font-weight: 100;
}
.box-address {
  text-align: center;
}

.box-link:first-child {
  white-space: nowrap;
  color: $white-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & .link:hover,
  & .link:focus {
    color: $accent-color;
    text-decoration: none;
  }
}

.footer-socials-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer-socials-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-socials-item svg {
  fill: $white-color;
}
.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}
.join {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $white-color;
}
.js-speaker-form {
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.join-box {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $white-color;
}

.mail-form {
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $footer-bg-color;
  padding-left: 16px;
  margin-bottom: 15px;
}

.footer-button {
  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  // margin-top: 20px;
  background: $accent-color;
  border-color: $accent-color;
  color: $white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.icon-send-svg {
  fill: $white-color;
  margin-left: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .box-address {
    margin-left: 61px;
    margin-bottom: 60px;
  }
  .footer-socials-box {
    margin-right: 74px;
  }
  .footer-chek-box {
    margin-left: auto;
    margin-right: auto;
  }
  .mail-form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
  }
  .box-list {
    text-align: start;
  }
  .box-address {
    margin-right: 70px;
    text-align: start;
  }
  .footer-socials-box {
    margin-right: 89px;
  }
  .footer-chek-box {
    margin: 0;
  }
  .js-speaker-form {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    margin-top: 20px;
  }
  .mail-form {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
  .footer-button {
    margin: 0;
  }
}
