.header {
	display: flex;
	border-bottom: 1px solid #ececec;
}
.header .container {
	display: flex;
	align-items: center;
}
.header-address-list {
	display: flex;
	margin-left: auto;
}

.header-contacts {
	margin-right: 10px;
}

.header-address-item:hover,
.header-address-item:focus {
	fill: $accent-color;
}
