.header-fixed {
	position: fixed;
	width: 100%;
}

.header {
	border-bottom: 1px solid #ececec;
	background-color: $white-color;
	padding-top: 16px;
	padding-bottom: 16px;
}
.menu-wrapper {
	position: absolute;
	top: 73px;
	right: 0;
	width: 100%;
	height: 393px;
	font-size: 18px;
	line-height: 1.17;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: $white-color;
	display: none;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

	&.is-open {
		display: block;
	}
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-btn {
	background-color: transparent;
	border: none;
	width: 40px;
	height: 40px;
	&:hover,
	&:focus {
		fill: $accent-color;
	}
}
.menu-btn .menu-btn-close {
	display: none;
}
.menu-btn.is-open .menu-btn-close {
	display: block;
}
.menu-btn.is-open .menu-btn-burger {
	display: none;
}

@media screen and (min-width: 768px) {
	.container {
		width: 768px;
	}
	.header {
		display: flex;
	}

	.menu-btn {
		display: none;
	}
	.header .container {
		display: flex;
		align-items: center;
	}
	.menu-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header-address-list {
		display: flex;
		margin-left: auto;
	}
}

.header-contacts {
	margin-right: 10px;
}

.header-address-item:hover,
.header-address-item:focus {
	fill: $accent-color;
}
@media screen and (min-width: 768px) {
	.container {
		width: 768px;
	}
}
