.logo {
	text-decoration: none;
	margin-right: 93px;
	color: $logo-dark-color;
	align-items: center;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: 1.2;
}

.logo-accent {
	color: $accent-color;
}
.logo-footer {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 1.2;
	color: $white-color;
}

@media screen and (min-width: 768px) {
	.logo {
		margin-right: 88px;
	}
}
