.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-batton {
  position: relative;
}
.close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-button-svg {
  fill: #000000;
}

.close-button:hover {
  border-color: $accent-color;
}

.close-button:hover .close-button-svg {
  fill: $accent-color;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-200%);
}

.modal-form-title {
  margin-top: 40px;
  margin-right: 39px;
  margin-bottom: 30px;
  margin-left: 40px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  font-size: 12px;
  border-color: transparent;
}

.modal-form-list {
  position: relative;
  margin-bottom: 10px;
}

.modal-svg {
  position: absolute;
  top: 32px;
  left: 16px;
}

.modal-form-list:focus-within svg {
  fill: $accent-color;
}

.modal-form-text:focus {
  border-color: $accent-color;
}

.modal-textarea:focus-within {
  border-color: $accent-color;
}

textarea {
  resize: none;
  outline: none;
}
.modal-textarea {
  display: flex;
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

input {
  outline: none;
}

.modal-form-text {
  display: flex;
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-right: 48px;
  padding-bottom: 12px;
  padding-left: 48px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.modal-form-batton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  margin-left: auto;
  margin-right: auto;
  background: $accent-color;
  border-color: $accent-color;
  color: $white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.checkbox {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 30px;
}

.modal-form-label {
  width: 100%;
  cursor: pointer;
  padding-left: 30px;
}

.modal-form-label::before {
  position: absolute;
  left: 1px;
  top: 1px;
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid $primary-text-color;
  border-radius: 4px;
}
.modal-form-checkbox {
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-svg {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 1px;
  top: 1px;
  border-radius: 2px;
  fill: $white-color;
  margin-right: 8px;
}

.modal-form-checkbox:focus ~ .check-svg {
  background-color: $accent-color;
}

.modal-form-link {
  color: $accent-color;
  text-decoration: underline;
  margin-left: 5px;
}
@media screen and (min-width: 528px) {
  .modal {
    width: 528px;
    height: 581px;
    padding: 40px;
  }

  .modal-form {
    padding: 0;
  }
  .modal-form-title {
    margin: 0;
  }
}
