.team {
  background-color: $section-bg-color;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

// @media sreen and (max-width: 767px) {
// }
.team-item:nth-child(1),
.team-item:nth-child(2) {
  margin-bottom: 30px;
}
.team-item:nth-child(3) {
  margin-bottom: 60px;
}

.photo-team {
  // height: 460px;
  width: 450px;
}

.about-team {
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $white-color;
}

.team-item-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: $primary-text-color;
}

.team-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-bottom: 10px;
  color: $primary-text-color;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team-socials-list {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .team-item {
    width: calc((100% - 30px) / 2);
  }

  .team-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team-item:nth-child(3) {
    margin-bottom: 0;
  }
  .team-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .team-item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-item-title {
    margin-bottom: 50px;
  }
  .team-list {
    display: flex;
  }
  .team-item {
    width: calc((100% - 30px * 3) / 4);
    margin: 0;
  }
  .team-item:not(:last-child) {
    margin-right: 30px;
  }
  .team-item:not(:nth-last-child(-n + 2)),
  .team-item:nth-child(3) {
    margin-bottom: 0;
  }
}
