.portfolio {
  padding-top: 126px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  // width: 370px;
  border: 1px solid #eeeeee;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (max-width: 767px) {
  .portfolio-item {
    margin-bottom: 30px;
  }
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-text-color;
}
.portfolio-item-caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: $title-text-color;
}
.portfolio-item:hover .portfolio-item-text,
.portfolio-item:focus .portfolio-item-text {
  opacity: 1;
  top: 0;
  left: 0;
}

.portfolio-item-text {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: $white-color;
  background: rgba(33, 150, 243, 0.9);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card {
  position: relative;
  overflow: hidden;
}

.portfolio-lead {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio {
    text-align: center;
    padding-top: 140px;
  }
  .portfolio-item {
    width: calc((100% - 30px) / 2);
  }
  .portfolio-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .portfolio-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .portfolio-item:last-child {
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 174px;
  }
  .portfolio-item {
    width: calc((100% - 60px) / 3);
  }
  .portfolio-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .portfolio-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}
